body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 0 0 30px 0;
}

ul {
  padding-left: 30px;
}

header {
  border-bottom: 1px solid gray;
}


/**-----------------------------------------------------------------------**/
/* Crime List */
/**-----------------------------------------------------------------------**/

#CrimeList .pagination {
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

#CrimeList .pagination ol{
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  #CrimeList .pagination li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 0 5px;
  }

    #CrimeList .pagination li.active {
      background: #4183c4;
    }

    #CrimeList .pagination li.active a {
      color: #fff;
    }

#CrimeList .prev, #CrimeList .next {
  display: inline-block;
  vertical-align: middle;
}

  #CrimeList .prev.disabled, #CrimeList .next.disabled {
    color: #ddd;
    cursor: default;
  }

  #CrimeList .prev.disabled:hover, #CrimeList .next.disabled:hover {
    text-decoration: none;
  }

#CrimeList .prev {
  margin-right: 30px;
}

#CrimeList .next {
  margin-left: 30px;
}

#CrimeList .list ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  #CrimeList .list li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }

    #CrimeList .list h3 {
      margin-bottom: 5px;
    }

    #CrimeList .list h3 .time {
      font-weight: normal;
    }

    #CrimeList .list p {
      margin: 0;
    }

#CrimeList .icon-loading {
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  opacity: 1;
  text-align: center;
  width: 150px;
  margin-left: -75px;
  color: gray;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

#CrimeList .paginated-list {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#CrimeList .paginated-list.loaded {
  opacity: 1;
}

  #CrimeList .paginated-list.loaded .icon-loading {
    opacity: 0;
  }


